# BETA Test Files 
/beta
test.js
/src/database/Schemas/beta
server.js

# configuration files
/config
.env

# node modules
/node_modules
package-lock.json

# VS Code Files
*.code-workspace

# gitpod files
.theia

# MAC Files
.DS_Store